Repository Beamographic/rush, pull requests merged in 2021-04, with the labels that each got.

#128 Add editorconfig file
  .editorconfig
  Directory.Build.props
  osu.Game.Rulesets.Rush/Beatmaps/RushBeatmapConverter.cs
Labels: area:tooling

#127 Distinguish rush! release builds from development builds
  .github/workflows/dotnet-core.yml
  .vscode/launch.json
  .vscode/tasks.json
  osu.Game.Rulesets.Rush.Tests/osu.Game.Rulesets.Rush.Tests.csproj
  osu.Game.Rulesets.Rush.sln
  osu.Game.Rulesets.Rush/RushRuleset.cs
  osu.Game.Rulesets.Rush/osu.Game.Rulesets.Rush.csproj
Labels: area:UI, area:tooling

#132 Fix DualHits providing 3 judgements instead of two
  osu.Game.Rulesets.Rush/Objects/Drawables/DrawableDualHit.cs
  osu.Game.Rulesets.Rush/Objects/Drawables/DrawableDualHitPart.cs
  osu.Game.Rulesets.Rush/Objects/DualHit.cs
Labels: area:objects, area:scoring

#118 Add replay recording support
  osu.Game.Rulesets.Rush.Tests/Replay/RushReplayFrameTest.cs
  osu.Game.Rulesets.Rush/Replays/RushReplayFrame.cs
  osu.Game.Rulesets.Rush/RushInputManager.cs
  osu.Game.Rulesets.Rush/RushRuleset.cs
  osu.Game.Rulesets.Rush/UI/DrawableRushRuleset.cs
  osu.Game.Rulesets.Rush/UI/RushReplayRecorder.cs
Labels: area:replay

#140 Remove unused HitResults from results card
  osu.Game.Rulesets.Rush/RushRuleset.cs
Labels: area:UI

#131 Separate LanedHitObjects into two distinct playfields
  osu.Game.Rulesets.Rush/Objects/Drawables/DrawableDualHit.cs
  osu.Game.Rulesets.Rush/Objects/Drawables/DrawableLanedHit.cs
  osu.Game.Rulesets.Rush/Objects/Drawables/DrawableRushHitObject.cs
  osu.Game.Rulesets.Rush/Objects/Drawables/DrawableStarSheet.cs
  osu.Game.Rulesets.Rush/UI/LanePlayfield.cs
  osu.Game.Rulesets.Rush/UI/RushHitPolicy.cs
  osu.Game.Rulesets.Rush/UI/RushPlayfield.cs
Labels: area:UI, area:objects, type:code-quality

#123 Pool HitObjects, explosions and judgements
  osu.Game.Rulesets.Rush/Objects/Drawables/DrawableDualHit.cs
  osu.Game.Rulesets.Rush/Objects/Drawables/DrawableDualHitPart.cs
  osu.Game.Rulesets.Rush/Objects/Drawables/DrawableHeart.cs
  osu.Game.Rulesets.Rush/Objects/Drawables/DrawableLanedHit.cs
  osu.Game.Rulesets.Rush/Objects/Drawables/DrawableMiniBoss.cs
  osu.Game.Rulesets.Rush/Objects/Drawables/DrawableMiniBossTick.cs
  osu.Game.Rulesets.Rush/Objects/Drawables/DrawableMinion.cs
  osu.Game.Rulesets.Rush/Objects/Drawables/DrawableRushHitObject.cs
  osu.Game.Rulesets.Rush/Objects/Drawables/DrawableRushJudgement.cs
  osu.Game.Rulesets.Rush/Objects/Drawables/DrawableSawblade.cs
  osu.Game.Rulesets.Rush/Objects/Drawables/DrawableStarSheet.cs
  osu.Game.Rulesets.Rush/Objects/Drawables/DrawableStarSheetCap.cs
  osu.Game.Rulesets.Rush/Objects/Drawables/DrawableStarSheetHead.cs
  osu.Game.Rulesets.Rush/Objects/Drawables/DrawableStarSheetTail.cs
  osu.Game.Rulesets.Rush/Objects/Drawables/IDrawableLanedHit.cs
  osu.Game.Rulesets.Rush/Objects/Drawables/Pieces/HeartPiece.cs
  osu.Game.Rulesets.Rush/Objects/Drawables/Pieces/MinionPiece.cs
  osu.Game.Rulesets.Rush/RushRuleset.cs
  osu.Game.Rulesets.Rush/UI/DefaultHitExplosion.cs
  osu.Game.Rulesets.Rush/UI/DrawableRushRuleset.cs
  osu.Game.Rulesets.Rush/UI/HealthText.cs
  osu.Game.Rulesets.Rush/UI/HeartHitExplosion.cs
  osu.Game.Rulesets.Rush/UI/LanePlayfield.cs
  osu.Game.Rulesets.Rush/UI/RushPlayfield.cs
  osu.Game.Rulesets.Rush/UI/StarSheetHitExplosion.cs
Labels: area:UI, area:objects, type:performance

#142 Shift judgement range to GREAT/GOOD from PERFECT/GREAT
  osu.Game.Rulesets.Rush/Judgements/RushJudgement.cs
  osu.Game.Rulesets.Rush/Objects/Drawables/DrawableMiniBoss.cs
  osu.Game.Rulesets.Rush/RushRuleset.cs
  osu.Game.Rulesets.Rush/Scoring/HeartHitWindows.cs
  osu.Game.Rulesets.Rush/Scoring/RushHitWindows.cs
  osu.Game.Rulesets.Rush/Scoring/SawbladeHitWindows.cs
Labels: area:scoring
