Repository Beamographic/rush, pull requests merged in 2021-03, with the labels that each got.

#119 Update existing usagse with faster "has flag" method
  osu.Game.Rulesets.Rush/Beatmaps/RushGeneratedBeatmapConverter.cs
Labels: performance

#124 Add placeholder SR values
  osu.Game.Rulesets.Rush/RushDifficultyCalculator.cs
Labels: area:difficulty

#125 Add build artifacts
  .github/workflows/dotnet-core.yml
Labels: area:tooling

#126 Fix star sheet bodies also being considered in acc and combo
  osu.Game.Rulesets.Rush/Objects/Drawables/DrawableStarSheet.cs
  osu.Game.Rulesets.Rush/Objects/StarSheet.cs
Labels: area:gameplay, area:objects
