Repository Beamographic/rush, pull requests merged in 2021-05, with the labels that each got.

#143 Add miss animations to Minions and DualHitParts
  osu.Game.Rulesets.Rush/Objects/Drawables/DrawableDualHitPart.cs
  osu.Game.Rulesets.Rush/Objects/Drawables/DrawableMinion.cs
Labels: area:objects

#150 Simplify the way playfield elements are positioned
  osu.Game.Rulesets.Rush/UI/Ground/GroundDisplay.cs
  osu.Game.Rulesets.Rush/UI/HealthText.cs
  osu.Game.Rulesets.Rush/UI/RushPlayerSprite.cs
  osu.Game.Rulesets.Rush/UI/RushPlayfield.cs
Labels: area:UI, type:code-quality

#145 Add FL, PF, SD, Wind Up, Wind Down
  osu.Game.Rulesets.Rush/Mods/RushModFlashlight.cs
  osu.Game.Rulesets.Rush/Mods/RushModPerfect.cs
  osu.Game.Rulesets.Rush/Mods/RushModSuddenDeath.cs
  osu.Game.Rulesets.Rush/RushRuleset.cs
  osu.Game.Rulesets.Rush/UI/RushPlayfield.cs
Labels: area:mods
